
<!--<label for="username">Email</label>
<input type="text" /><br/>
<label for="password">Password</label>
<input type="password"/><br />
<button >Login</button>-->
<body>
  <div class="flex flex-column align-items-center justify-content-center">
    <div class="form">
      <div class="title">Login</div>
      <form [formGroup]="loginForm">
       
        <div class="input-container ic2">
          <input id="email" class="input" type="email" placeholder="Email " formControlName="email" />
        </div>
        <div class="input-container ic2">
          <input id="password" class="input" type="password" placeholder="Password" formControlName="password" />
        </div>
        <button class="submit" (click)="loginmethod()" [disabled]="!loginForm.valid">Submit</button>

      </form>
    </div>
  </div>
</body>


